.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
body {
  padding-top: 41px;
  padding-bottom: 40px;
  background: transparent url("../../layout/background/main_background-picture6.jpg") center top no-repeat;
}
#pr-main {
  background: transparent url("../../layout/background/main_background.gif") repeat;
}
/***************** COMMON ************************************/
.row-margin-bottom {
  margin-bottom: 10px;
}
.row-margin-top {
  margin-top: 10px;
}
.row-margin-left {
  margin-left: 10px;
}
.row-margin-right {
  margin-right: 10px;
}
.row-margin-bottom-xl {
  margin-bottom: 20px;
}
.row-margin-top-xl {
  margin-top: 20px;
}
.row-margin-left-xl {
  margin-left: 20px;
}
.row-margin-right-xl {
  margin-right: 20px;
}
.row-padding-top {
  padding-top: 10px;
}
.row-padding-bottom {
  padding-bottom: 10px;
}
.row-padding-left {
  padding-left: 10px;
}
.row-padding-right {
  padding-right: 10px;
}
.row-padding-top-xl {
  padding-top: 20px;
}
.row-padding-bottom-xl {
  padding-bottom: 20px;
}
.row-padding-left-xl {
  padding-left: 20px;
}
.row-padding-right-xl {
  padding-right: 20px;
}
.pr-text-align-right {
  text-align: right;
}
.pr-title-row {
  background-color: #000000;
  padding: 4px 10px;
  color: #ffffff;
}
.pr-gradient {
  background-color: #e4e4e4;
  background-image: -moz-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: -ms-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#bbbbbb));
  background-image: -webkit-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: -o-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: linear-gradient(top, #ffffff, #bbbbbb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbbbbb', GradientType=0);
}
.debug {
  background-color: #ffc40d;
}
.debug2 {
  background-color: #c3325f;
}
.debug3 {
  background-color: #f89406;
}
/***************** HEADER ************************************/
header {
  background-color: #000000;
  height: 140px;
  margin-bottom: 1px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.nav {
  margin-top: 10px;
  margin-bottom: 10px;
}
#pr-menu {
  background-color: #000000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /*margin-bottom: @baseLineHeight *2;*/

  margin-bottom: 1px;
}
#pr-race-info > .container {
  background-color: #000000;
  height: 106px;
  font-size: 13px;
}
#pr-race-info [class*="span"] {
  /*background-color: @black;*/

}
#pr-race-info .pr-race-info-left, #pr-race-info .pr-race-info-right {
  margin: 10px 10px 0px 10px;
  color: #ffffff;
}
#pr-race-info .pr-race-info-left {
  margin-right: 0px;
}
#pr-race-info .pr-race-info-left > ul {
  margin: 0px;
  font-size: 12px;
}
/***************** HIGHLIGHTS ************************************/
#pr-highlights h3 {
  background-color: #000000;
  border-top: 1px solid #555555;
  padding: 4px 10px;
  color: #ffffff;
}
#pr-highlights .container {
  background-color: #ffffff;
  height: 465px;
}
.pr-higlights-area {
  margin-left: 10px;
  margin-right: 10px;
  background: transparent url('../../layout/background/highlight_background.gif') repeat-x;
}
.pr-higlights-pictures {
  width: 580px;
}
.pr-highlights-news-list li > a {
  color: #ffffff;
  font-size: 14px;
}
.pr-highlights-news-list li > a:hover {
  color: #ffc40d;
  text-decoration: none;
}
.pr-highlights-news-list li {
  margin-bottom: 6px;
}
/***************** SECTION pr-main ***************************/
.pr-main-spot-news-box {
  background-color: #ffffff;
  padding: 10px;
}
.pr-main-spot-news-box-header {
  background-color: #000;
  height: 25px;
  margin: 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 20px;
}
.pr-main-spot-news-box h5 {
  color: #c3325f;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.pr-main-spot-news-box h5 > span {
  background: transparent url("../../layout/icon/comment_box_small.png") no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
  float: right;
  text-align: center;
  color: #ffffff;
}
.pr-main-news-list li {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #c3325f;
  font-size: 10px;
}
.pr-main-news-list li  > a {
  font-size: 13px;
}
.pr-home-page-gallery > .span3 {
  width: 150px;
}
/***************** FOOTER ************************************/
.footer {
  /*background: transparent url("../../layout/background/main_background.gif") repeat;*/

  background-color: #333333;
}
/***************** COUNTDOWN CSS ************************************/
#t7_timer {
  width: 206px;
  height: 55px;
  position: relative;
}
#t7_timer_over {
  width: 206px;
  height: 55px;
  background-image: url('../images/Countdown-over.png');
  background-repeat: no-repeat;
  position: absolute;
  /*z-index: 700;*/

  top: 0px;
  left: 1px;
  margin: 0px;
  padding: : 0px;
}
#t7_vals {
  width: 100%;
  clear: both;
  margin: 0px auto;
}
.t7_numbs {
  font-size: 28px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  color: #c5c5c5;
}
#t7_y,
#t7_d,
#t7_h,
#t7_m,
#t7_s {
  background-image: url(../images/Countdown2.png);
  background-repeat: no-repeat;
  float: left;
  width: 48px;
  height: 30px;
  padding: 7px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px;
}
#t7_d {
  background-image: url(../images/Countdown2.png);
}
#t7_h {
  background-image: url(../images/Countdown2.png);
}
#t7_m {
  background-image: url(../images/Countdown2.png);
  width: 47px;
}
#t7_s {
  background-image: url(../images/Countdown2-nc.png);
  width: 42px;
}
#t7_labels {
  width: 100%;
  clear: both;
  margin: 0px auto;
}
.t7_labs {
  font-size: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #c5c5c5;
}
#t7_yl,
#t7_dl,
#t7_hl,
#t7_ml,
#t7_sl {
  float: left;
  width: 51px;
  height: 15px;
  padding: 0px;
  margin: 0px;
}
#defaultCountdown {
  margin-left: 0px;
  text-align: center;
}
/***************** HIGHLIGHTS SLIDER ************************************/
.panel-overlay h2, .panel-overlay p {
  margin: .5em 0;
}
.panel-overlay h2 {
  font-size: 31px;
  font-weight: normal;
  color: #757575;
  letter-spacing: -1px;
  line-height: 110%;
  margin: 0pt;
  text-transform: lowercase;
  font-family: 'arial black';
}
.panel a {
  text-decoration: none;
}
.panel-overlay p {
  line-height: 1.3em;
  font-size: 14px;
  background-color: #f00;
}
